<template>
  <CFooter>
    <div>
      <a href="https://coreui.io" target="_blank">Copyright 2020</a>
      <span class="ml-1">© Center Information Technology Service ,Mae Fah Luang University.</span>
    </div>
    <div class="ml-auto">
      <span class="mr-1">Powered by</span>
      <a href="https://coreui.io/vue" target="_blank">MIS </a>
    </div>
  </CFooter>
</template>

<script>
export default {
  name: 'TheFooter'
}
</script>
