<template>
  <CContainer class="d-flex align-items-center min-vh-100" style="width: fit-content;">
    <CRow class="justify-content-center">
      <CCol md="8">
        <CCardGroup>
          <CCard class="p-4" >
            <CCardBody>
              <CForm>
                <div class="text-center mb-2">
                  <img src="../../public/img/brand/logo.png" height="150px"/>
                </div>
                <!--<h1>Login</h1>-->
                <p class="text-muted">Sign In to your account</p>
                <CInput
                    v-model="username"
                    placeholder="Username"
                    autocomplete="username email"
                >
                  <template #prepend-content><CIcon name="cil-user"/></template>
                </CInput>
                <CInput
                    v-model="password"
                    placeholder="Password"
                    type="password"
                    autocomplete="curent-password"
                >
                  <template #prepend-content><CIcon name="cil-lock-locked"/></template>
                </CInput>
                <CRow>
                  <CCol col="6" class="text-right">
                    <!--<CButton color="link" class="px-0">Forgot password?</CButton>-->
                  </CCol>
                  <CCol col="6">
                    <CButton color="info" @click="this.onLogin" class="w-100 text-white">Login</CButton>
                  </CCol>
                </CRow>

              </CForm>
            </CCardBody>
          </CCard>
          <CCard
            color="info"
            text-color="white"
            class=" py-5 d-md-down-none"
            style="width:44%"
            body-wrapper
          >
            <CRow class="text-center">
              <!--<Countdown deadline="August 22, 2022"></Countdown>-->

            </CRow>
            <h3 class="text-center">ประกาศแจ้ง</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

          </CCard>
        </CCardGroup>
      </CCol>
    </CRow>

    <!--<b-modal :class="this.dialog.style" v-model="this.dialog.status" @ok="actionDialog()" :ok-variant="this.dialog.type"  ok-only>-->
      <!--{{this.dialog.message}}-->
    <!--</b-modal>-->
    <CModal
            :no-close-on-backdrop="true"
            :show.sync="this.dialog.status"
            :color="this.dialog.type"
            :centered="true"
    >
      {{this.dialog.message}}

      <template #header>
        <CButtonClose @click="onCancelDialog" class="text-white"/>
      </template>
      <template #footer>
        <!--<CButton @click="darkModal = false" color="danger">Discard</CButton>-->
        <CButton @click="onCancelDialog" color="danger">Accept</CButton>
      </template>
    </CModal>


  </CContainer>
</template>

<script>

import Service from "../service/api"
import store from '@/store/store'
import moment from 'moment'
import Countdown from 'vuejs-countdown'
export default {
    components: { Countdown },
  name: 'Login',
  data () {
      return {
          dialog : {
              message : '',
              type : 'danger',
              status : false

          },
          username:'48212025',
          password:'8431',
          image :null,
      }
  },

  mounted () {
//      this.onCheckTotkenExp();
  },

  created () {

  },

  beforeDestroy () {

  },
  methods: {
      // check token and auto login if time not exp
      onCheckTotkenExp(){
          var base64Url = this.$store.state.token.split('.')[1]; // token you get
          var base64 = base64Url.replace('-', '+').replace('_', '/');
          var decodedData = JSON.parse(Buffer.from(base64, 'base64').toString('binary'));

          var CurrentDate = moment();
          if(CurrentDate.toDate().getTime()/1000 < decodedData.exp){
              this.onAffertLogin();
          }
      },

      onCancelDialog(){
          this.dialog = {
              message : '',
                  type : 'danger',
                  status : false

          }
      },

      // controll page affert login
      onAffertLogin(){
          this.$router.push('/student');
      },

      onLogin(){

          var body = {};
          body.username = btoa(this.username);
          body.password = btoa(this.password);

          Service.onLogin(body).then((response) => {
              var decodedString = atob(response.data.token.split('.')[1]);
              var obj = JSON.parse(decodedString);

              if(response.data.status == "success"){
                  this.$store.dispatch("setToken", response.data.token);
                  this.$store.dispatch("setUser", obj.user_claims.data);
                  this.$store.dispatch("setUsername", obj.user_claims.data.username);

                  this.onAffertLogin();

              }

          }).catch((error) => {
              this.dialog = {
                  message : error.response.data.msg,
                  type : 'danger',
                  status : true

              }
          });
      }
  }
}
</script>
